@import "reset";
@import "type";


$background-color: #F0EAD8;


body {
	background: $background-color;
	padding: 50px;
}

.hero-unit {
	margin: auto;
	text-align: center;
}

.title {
	font-family: "nexa_scriptfree";
	font-size: 120px;
    font-weight: normal;
}

.icon {
	display: block;
	width: 200px;
	height: 100px;
	background-image: url('../assets/svg/eyeglasses.svg');
	background-repeat: no-repeat;
    background-size: 200px;	
    margin: auto;
}